/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Masonry grid styles */
.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  /* gutter size */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}
